.searchForm,
.allResults {
  margin: 1% 5% !important;
  border-color: black;
}

.allResults {
  background-color: #e8e8e8;
  padding: 2%;
  margin-bottom: 5rem;
}

.book {
  border-bottom: solid black;
  border-width: 100%;
  margin-bottom: 1rem;
}

.bookDetails,
.buttons {
  display: inline-block;
}

.buttons {
  float: right;
}

h1,
h3 {
  font-family: Monospace;
}
